.DS_store
*.ipynb_checkpoints
*.egg-info/

# We want to avoid adding data to Github if possible
*.png
*.icloud
.vscode/
diff_classifier
*.npy
*.tif
*.tiff
*.csv
*.xlsx
*.xls
*.txt
*.pdf
*.pyc
*.pyo
*.pyd
*.so
*.dll
*.dylib
*.exe
*.pdb
*.class
*.c
*.egg
*.hypothesis/